<body>
  <div class="main_container">
    <div class="container" id="join_form">
      <div class="signup_title">
        <h2 class="title">로 그 인</h2><br>
      </div>
      <div>
        <div class="signin_container">        
          <span>이메일</span>
          <input type="text" placeholder="이메일" id="email" class="form-control" />
        </div><br>
        <div class="signin_container">  
          <span>비밀번호</span>
          <input type="password" placeholder="비밀번호" id="password" class="form-control" />
        </div><br>
        <div class="links">
          <a href="findpassword">비밀번호 찾기</a>&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;<a href="signup">회원가입</a>
        </div>
      <div class="register_container">
        <button class="btn sign_btn" type="button" id="register_button" onclick="signin()">로그인</button>
      </div>
    </div>
  </div>
</body>
