.sign_wrap {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: absolute;
}

.sign_form-wrap {
  width: 380px;
  height: 600px;
  position: relative;
  margin: 10% auto;
  padding: 5px;
  overflow: hidden;
}

.sign_button-wrap {
  width: 330px;
  margin: 35px auto;
  margin-left: 70px;
  position: relative;
  border-radius: 30px;
}

.sign_togglebtn {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#sign_btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, #f9528a, #ff105f);
  border-radius: 30px;
  transition: 0.5s;
}

.sign_input-group {
  top: 130px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}

.sign_input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border: none;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}

.sign_submit {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  margin-top: 40px;
  background: linear-gradient(to right, #f9528a, #ff105f);
  border: 0;
  outline: none;
  border-radius: 30px;
}

.sign_submit1 {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  margin-top: -20px;
  background: linear-gradient(to right, #f9528a, #ff105f);
  border: 0;
  outline: none;
  border-radius: 30px;
}

.checkbox {
  margin: 30px 10px 30px 0;
}

#log_password {
  margin-bottom: -30px;
}

#sign_login {
  left: 50px;
}

#sign_register {
  left: 450px;
}

.find_tag {
  display: flex;
  padding: 60px;
}

.sign_find {
  cursor: pointer;
  margin: auto;
  font-size: 0.8rem;
  position: relative;
  text-decoration: none;
  color: #000000;
}
