<footer class="py-5">
    <div>Copyright &copy; 2023. WeGAD : We grow as developers. All rights reserved.</div>
    Sparta Coding Club - NBC - Node.js class B
    <div>강하루 김재광 김호진 변정민 이승준 <div>
</footer>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>

</html>