<header>
    <div class="header_title">
        <a href="/" class="logo">육조옥마늘</a>
    </div>
    <div class="header_list">
        <section id="search-wrap">
        <div class="search">
            <form action="/search/posts" class="search-form">
            <input type="search" id="term" name="term" class="form-control" placeholder="게시글 검색테스트: 제목, 내용"
            aria-label="Search" pattern=".{1}|.{1,10}" required title="최소 1자 이상 입력해야 합니다">
            <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
            </form>
        </div>
    </section>

        <div class="category">
            <ul class="navlist">
                <li class="list"><a href="/">IT 이벤트</a></li>
                <li class="list"><a>&nbsp&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp&nbsp</a></li>
                <li class="list"><a href="/">모임게시판</a></li>
            </ul>
        </div>
        <div class="header_button">
            <a href="/sign" class="myButton">로그인</a>
        </div>
    </div>
</header>