<header>
    <div id="login_header">
        <div class="header_body">
            <div class="header_title">
                <a href="/" class="logo">
                    <img src="/img/ë¡œê³ .png" width="178">
                </a>
            </div>
            <div class="category">
                <ul class="navlist">
                    <li class="list"><a href="/events/list">Events</a></li>
                    <li><a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a></li>
                    <li class="list"><a href="/club/list">Clubs</a></li>
                </ul>
            </div>
            <div class="header_list">
                <section id="search-wrap">
                    <div class="search">
                        <form action="/search/all" class="search-form">
                            <input type="search" id="term" name="term" class="form-control1" placeholder="ðŸ”ì œëª©, ë‚´ìš©, ë‹‰ë„¤ìž„"
                                aria-label="Search" pattern=".{1}|.{1,10}" required title="ìµœì†Œ 1ìž ì´ìƒ ìž…ë ¥í•´ì•¼ í•©ë‹ˆë‹¤">
                        </form>
                    </div>
                </section>
            </div>
            <ul class="navlist1">
                <% if (global.buttonUserId ) {%>
                    <li class="list1"><a href="/userpage/<%= buttonUserId %>">My page</a></li>
                    <% } else { %>
                        <% } %>
            </ul>
            <div class="header_button">
                <% if (global.buttonUserId ) {%>
                    <button onclick="logout()" class="myButton">Log out</button>
                    <% } else { %>
                        <button onclick="location='/sign'" class="myButton">Log in</button>
                        <% } %>
            </div>
        </div>

    </div>
</header>
