<header>
    <div class="header_body">
        <div class="header_title">
            <a href="/" class="logo">
                <img src="/img/ë¡œê³ .png" width="178">
            </a>
        </div>
        <div class="category">
            <ul class="navlist">
                <li class="list"><a href="/events/list">Events</a></li>
                <li><a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a></li>
                <li class="list"><a href="/club/list">Clubs</a></li>
            </ul>
        </div>
        <div class="header_list">
            <section id="search-wrap">
                <div class="search">
                    <form action="/search/all" class="search-form">
                        <input type="search" id="term" name="term" class="form-control1" placeholder="ðŸ”ê²Œì‹œê¸€, ë‹‰ë„¤ìž„ ê²€ìƒ‰"
                            aria-label="Search" pattern=".{1}|.{1,10}" required title="ìµœì†Œ 1ìž ì´ìƒ ìž…ë ¥í•´ì•¼ í•©ë‹ˆë‹¤">
                    </form>
                </div>
            </section>  
        </div>
        <div class="header_button">
            <button onclick="location='/sign'" class="myButton">Log in</button>
        </div>
    </div>
</header>