.event_container {
  margin-top: 100px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
}

.new_event {
  float: right;
  text-decoration: none;
  color: #EA4E4E;
  font-weight: bold;
}

.event_table_container {
  margin-left: 170px;
}

.event_table {
  max-width: 1100px;
  margin-left: 30px;
}

#event_thead {
  border-bottom: 4px solid;
  font-weight: bold;
}

#event_tr {
  border-bottom: 2px solid;
  width: 30px;
}


#Id {
  font-weight: bold;
}

#Date {
  font-weight: bold;
}

#View {
  font-weight: bold;
}

#Likes {
  font-weight: bold;
}