<h3> ejs-테스트 입니다</h3>
<div> 조이름 : <%= name %>
</div>
<div> 인원수 : <%= number %>
</div>
<div> 직업 : <%= job %>
</div>

<section id="search" class="search-wrap">
    <form action="/search/posts" class="search-form">
    <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">         -->
        <input type="search" id="term" name="term" class="form-control" placeholder="🔍검색 테스트 중 게시글" aria-label="Search">
    </form>
</section>

<section id="search" class="search-wrap">
    <form action="/search/users" class="search-form">
    <!-- <div class="col-10 col-lg-auto mb-3 mb-lg-0 me-lg-3"> -->
        <input type="search" id="term" name="term" class="form-control" placeholder="🔍검색 테스트 중 유저" aria-label="Search">
    </form>
</section>
