:root {
    --bs-font-sans-serif: 'Rubik', sans-serif;
}

header {
    background-color:rgb(242, 228, 212) ; 
    font-size: x-large;
}

footer {
    background-color:rgb(128, 125, 113) ;
    /* background-color:rgb(72, 25, 25) ; */  
    text-align: center;
    color: rgb(212, 202, 202);
    font-size: large;
}

body {
    background-image: url("../img/foods.svg");
    background-color: rgb(243, 243, 243);
  }