<div class="eventdetail_container">
  <div class="eventdetail_button">
    <div class="eventdetail_edit">
      <button class="update_event" onclick="updateEvent('<%= events.id %>')" value="<%= events.id %>">수정&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>

    </div>
    <div class="eventdetail_delete">
      <a href="/events/list" class="new_event">취소</a>
      
    </div>
  </div>
  <div class="eventdetail_title">
    <div class="eventdetail_first">
      <div class="eventdetail_first_title">
        <div class="first_title">
          Title
        </div>
        <div class="title_text">
          <input id="event_title" class="event_title" value="<%= events.title %>">

        </div>
      </div>
    </div>
    <div class="eventdetail_second">
      <div class="eventdetail_second_start">
        <div class="start_date">
          Event started at :
        </div>
        <div class="col-3">
          <input type="date" id="eventStartDate" class="form-control" value="이벤트 시작 기간">
        </div>
      </div>
      <div class="eventdetail_second_end">
        <div class="end_date">
          Event ended at :
        </div>
        <div class="col-3">
          <input type="date" id="eventEndDate" class="form-control" value="이벤트 시작 기간">
        </div>
      </div>
    </div>
    <div class="eventdetail_third">
      <div class="first_file">
        image
      </div>
      <div class="col-8">
        <input type="file" name="eventPostImg" id="eventPostImg" accept="image/*" src="https://spartasix.s3.amazonaws.com/1679577455604aaa.jpg">
      </div>
    </div>
  </div>
  <div class="eventdetail_body">
    <div class="eventdetail_body_text">
      <p><textarea id="eventContent" class="textarea" value="<%= events.content %>"></textarea></p>
    </div>
  </div>
</div>
</form>