<section id="search" class="search-wrap">
    <form action="/search/posts" class="search-form">
    <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">         -->
        <input type="search" id="term" name="term" class="form-control" placeholder="ðŸ”(í…ŒìŠ¤íŠ¸)ê²Œì‹œê¸€ ê²€ìƒ‰ : ì œëª©, ë‚´ìš©" aria-label="Search" pattern=".{1}|.{1,10}" required title="ìµœì†Œ 1ìž ì´ìƒ ìž…ë ¥í•´ì•¼ í•©ë‹ˆë‹¤">
    </form>
</section>

<section id="search" class="search-wrap">
    <form action="/search/users" class="search-form">
    <!-- <div class="col-10 col-lg-auto mb-3 mb-lg-0 me-lg-3"> -->
        <input type="search" id="term" name="term" class="form-control" placeholder="ðŸ”(í…ŒìŠ¤íŠ¸)ìœ ì € ê²€ìƒ‰ : email, ë‹‰ë„¤ìž„" aria-label="Search" pattern=".{1}|.{1,10}" required title="ìµœì†Œ 1ìž ì´ìƒ ìž…ë ¥í•´ì•¼ í•©ë‹ˆë‹¤">
    </form>
</section>