<div class="main_body_container">
    <div class="body_title">
        <a>스파르타 커뮤클럽</a>
    </div>
    <div class="body_issue">
        <div class="issue_title">
            실시간 핫이슈
        </div>
        <div class="issue_body">
            <div class="issue_content">
                1번 글
            </div>
            <div class="issue_content">
                2번 글
            </div>
            <div class="issue_content">
                3번 글
            </div>
            <div class="issue_content">
                4번 글
            </div>
            <div class="issue_content">
                5번 글
            </div>
        </div>
    </div>
    <div class="body_news">
        <div class="IT_news">
            <div class="IT_news_title">
                it 뉴스
            </div>
            <div class="IT_news_body">
                <div class="IT_content">
                    1번 글
                </div>
                <div class="IT_content">
                    2번 글
                </div>
                <div class="IT_content">
                    3번 글
                </div>
                <div class="IT_content">
                    4번 글
                </div>
                <div class="IT_content">
                    5번 글
                </div>
            </div>
        </div>
        <div class="job_news">
            <div class="job_news_title">
                최신 취업 정보
            </div>
            <div class="job_news_body">
                <div class="job_content">
                    1번 글
                </div>
                <div class="job_content">
                    2번 글
                </div>
                <div class="job_content">
                    3번 글
                </div>
                <div class="job_content">
                    4번 글
                </div>
                <div class="job_content">
                    5번 글
                </div>
            </div>
        </div>
    </div>
    
    <section id="search" class="search-wrap">
        <form action="/search/users" class="search-form">
            <!-- <div class="col-10 col-lg-auto mb-3 mb-lg-0 me-lg-3"> -->
            <input type="search" id="term" name="term" class="form-control" placeholder="🔍(테스트)유저 검색 : email, 닉네임"
                aria-label="Search" pattern=".{1}|.{1,10}" required title="최소 1자 이상 입력해야 합니다">
        </form>
    </section>
</div>

