<div id="modal" class="sign_modal">
  <div class="modal_content">
    <div class="sign_wrap1">
      <div class="sign_form-wrap1">
        <div class="sign_button-wrap1">
          <div id="btn1"></div>
          <button type="button" class="sign_togglebtn1" onclick="register1()">비밀번호 찾기</button>
        </div>
        <form id="sign_login1" action="" class="sign_input-group1">
          <input type="text" id="email1" class="sign_input-field1" placeholder="Email" onchage="validEmail(this)">
          <input type="text" id="phone1" class="sign_input-field1" placeholder="phone" oninput="hypenTel(this)"
            maxlength="13">
          <div id="div-check"></div>
          <button type="button" id="onsubmit" class="sign_submit12" onclick="find_password()">이메일 인증</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="sign_wrap">
  <div class="sign_form-wrap">
    <div class="sign_button-wrap">
      <div id="sign_btn"></div>
      <button type="button" class="sign_togglebtn" onclick="login()">로그인</button>
      <button type="button" class="sign_togglebtn" onclick="register()">회원가입</button>
    </div>
    <form id="sign_login" action="" class="sign_input-group">
      <input type="text" id="log_email" class="sign_input-field" placeholder="Email">
      <input type="password" id="log_password" class="sign_input-field" placeholder="Password">
      <div class="find_tag">
        <a class="sign_find" onclick="sign_modal_open()">비밀번호 찾기</a>
      </div>
      <button type="button" class="sign_submit1" onclick="sign_in()">로그인</button>
    </form>
    <form id="sign_register" action="" class="sign_input-group">
      <input type="text" id="email" class="sign_input-field" placeholder="Email" onchage="validEmail(this)">
      <input type="password" id="password" class="sign_input-field" placeholder="password" required>
      <span class="pw_condition">8자리 이상,문자,숫자,특수문자를 1개이상 포함하여야 합니다.</span>
      <input type="password" id="password_chk" class="sign_input-field" placeholder="confirm Password">
      <input type="text" id="nickname" class="sign_input-field" placeholder="nickname">
      <input type="text" id="phone" class="sign_input-field" placeholder="phone (- 제외)" oninput="hypenTel(this)"
        maxlength="13">
      <button type="button" class="sign_submit" onclick="sign_up()">회원가입</button>
    </form>
  </div>
</div>
<script>
  var x = document.getElementById("sign_login");
  var y = document.getElementById("sign_register");
  var z = document.getElementById("sign_btn");
  function login() {
    x.style.left = "50px";
    y.style.left = "450px";
    z.style.left = "0";
  }
  function register() {
    x.style.left = "-400px";
    y.style.left = "50px";
    z.style.left = "120px";
  }
</script>