.Appmodal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: none;
  z-index: 50;
}

.app_modal {
  background-position: center;
  background-size: cover;
  position: relative;
  background: #fffaf5;
  display: flex;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  padding: 34px;
  margin-top: 3rem;
  max-width: 613px;
  width: 100%;
  height: calc(100vh - 10rem);
  overflow-y: scroll;
  border: 1px solid #000000;
}

.application {
  background-color: #fffaf5;
  width: 120%;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.5px;
}

.app_title {
  margin: auto;
  font-weight: bold;
  font-size: 2rem;
  height: 10%;
}

.app_body {
  width: 100%;
  margin-top: 44px;
  height: 90%;
}

.app_body_container {
  margin: auto;
  display: flex;
  margin-top: 16px;
  width: 90%;
  height: 32px;
  cursor: pointer;
}

.member_name {
  width: 20%;
  height: 100%;
}

.member_body_name {
  font-family: "Alfa Slab One", "Amiko", sans-serif;
  margin-top: 8px;
  font-weight: bold;
}

.member_body {
  width: 60%;
  height: 100%;
  margin: auto;
}

.member_body_content {
  margin-top: 8px;
  font-weight: bold;
}

.member_date {
  width: 30%;
  height: 100%;
  margin: auto;
}

.member_body_date {
  font-family: "Alfa Slab One", "Amiko", sans-serif;
  margin-top: 8px;
  font-weight: bold;
}

.Appmodal2 {
  position: absolute;
  display: none;
  z-index: 70;
}

.app_modal2 {
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 840px;
  height: 500px;
  background: #f8f5f2;
  border-radius: 30px;
  position: absolute;
  display: flex;
  top: 15%;
  left: 30%;
  margin-top: -3.5%;
  margin-left: 600px;
  text-align: center;
  box-sizing: border-box;
  padding: 34px;
}

.app_body2 {
  width: 100%;
  max-width: 320px;
  margin-top: 80px;
  border-top: 2px solid;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.3rem;
  font-weight: bold;
}

.app_body2_content {
  padding: 80px 0px;
}

.app_body2_from {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 24px;
}

.app_body2_from .from_label {
  font-family: "Alfa Slab One", "Amiko", sans-serif;
}

.app_body2_from .nickname {
  margin-left: 8px;
}

.app_button2 {
  width: 100%;
  margin-bottom: 32px;
  margin-top: 1%;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
}

.app_btn {
  padding: 16px 32px;
  font-family: "Alfa Slab One", "Amiko", sans-serif;
  cursor: pointer;
  background-color: rgb(238, 207, 170);
  border: 0;
  outline: none;
  border-radius: 30px;
}

.app_btn_confirm {
  background-color: #ea4e4e;
  color: white;
}

.app_btn_reject {
  background-color: #d9d9d9;
}
