.user-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 250px;
  margin-top: 64px;
  margin-bottom: 64px;
}

.huge-inner-container {
  margin-top: 120px;
  gap: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.box {
  height: fit-content;
  width: 700px;
  align-self: center;
  /* gap: 40px; */
  /* border: 1px solid salmon; */
}

.memberImg {
  display: flex;
  justify-content: center;
}

.memberImg > img {
  height: 200px;
  width: 200px;
  margin-bottom: 64px;
}

.subtitle {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: Alfa Slab One, sans-serif;
  margin-bottom: 36px;
}
.huge-card {
  display: flex;
  justify-content: center;
  width: 700px;
  height: 600px;
  background: #fff9f8;
}

.icon-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 12px;
}

.user-edit-icon {
  fill: #ea4e4e;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.envelope-icon {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.envelope-icon:hover {
  fill: #ea4e4e;
}

.article-button {
  height: 28px;
  background: #ffffff;
  border: 1px solid #ea4e4e;
  border-radius: 10px;
  padding-left: 12px;
  padding-right: 12px;
}

.card-content-container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  font-family: Alfa Slab One, sans-serif;
  gap: 12px;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.article-button {
  height: 28px;
  background: #ffffff;
  border: 1px solid #ea4e4e;
  border-radius: 10px;
  padding-left: 12px;
  padding-right: 12px;
}

.card-content-text {
  font-family: "Amiko";
}

.huge-userbox {
  width: 700px;
  height: 756px;
  align-items: center;
  text-align: center;
}

.post-title {
  font-size: 22px;
  color: #ea4e4e;
}

.edit-user-info-box-container {
  display: flex;
  justify-content: center;
}

.edit-container {
  margin-top: 184px;
}

.member-edit {
  margin-bottom: -24px;
}
