<h3>모임 게시판</h3>

<h3></h3>
<div>
  <div>
    <% for(let i=0; i < terms.length; i++) {%>
      <p class="articles">
      <p>글번호 : <%= terms[i].clubId %>
      </p>
      <p>제목 : <%= terms[i].title %>
      </p>
      </p>
      <% } %>
  </div>
</div>