.club_container {
  margin-top: 100px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
}

.new_club {
  float: right;
  text-decoration: none;
  color: #EA4E4E;
  font-weight: bold;
}

.club_table_container {
  margin-left: 170px;
}

.club_table {
  max-width: 1100px;
  margin-left: 30px;
}


#club_thead {
  border-bottom: 4px solid;
  font-weight: bold;
}

#club_tr {
  border-bottom: 2px solid;
  width: 30px;
}

#club_Id {
  font-weight: bold;
}


#club_maxMember {
  font-weight: bold;
}

#club_Date {
  font-weight: bold;
}

#club_View {
  font-weight: bold;
}

#club_Likes {
  font-weight: bold;
}

/* The Modal (background) */
.club_modal { 
  position:absolute; 
  width:100%; 
  height:100%; 
  top:0; 
  left:0; 
  display:none;
  z-index: 50;
}

.club_wrap1 {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: absolute;
  width:530px; height:700px;
  background: rgba(255, 246, 244, 0.95); 
  position:absolute; top:15%; left:30%;
  margin-top:-5%; margin-right: 3%;
  text-align:center;
  box-sizing:border-box; padding:74px 0;
  line-height:23px; cursor:pointer;
  display:flex;
  flex-direction: column;
  cursor: default;
  transform: translate(10%,2%);
}

.club_modal_body {
  font-weight: bold;
  color: #EA4E4E;
}

.club_modal_text {
  margin-top: 50px;
}

.club_modal_textarea {
  width: 350px;
  height: 350px;
  resize: none;
  border: none;
  background-color: rgba(255, 246, 244, 0.95);
}

.club_modal_textarea:focus {
  outline: none;
}

.club_modal_button {
  border: 1px #EA4E4E solid;
  background-color: #EA4E4E;
  width: 110px;
  height: 48px;
  border-radius: 30px;
  color: #FFFF;
  font-weight: bold;
}