.popular_main_container {
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
}

.popular_container {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  font-family: "Alfa Slab One";
  font-weight: normal;
  font-size: small;
  letter-spacing: 0.3px;
}

.popularUsercontainer {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  font-family: "Alfa Slab One";
  font-weight: normal;
  font-size: small;
  letter-spacing: 0.3px;
}

.search-wrap {
  position: relative;
  width: 280px;
  margin: auto;
  margin-bottom: 70px;
}

.searcher_body {
  width: 100%;
  height: 500vh;
}

.search {
  position: relative;
  width: 300px;
}

input {
  width: 100%;
  border: 1px solid #db4035;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 14px;
}

/* 검색 결과 *건 안내 색상 */
.searchCount {
  position: relative;
  width: 730px;
  margin: auto;
}

/* 페이지네이션 버튼 색*/
.page-item .page-link {
  color: white; /* 텍스트 색상 */
  background-color: #ea4e4e;; /* 배경색 */
  border-color: #fff3f2; /* 테두리 색상 */
}

.page-item.active .page-link {
  color: white; /* 활성화된 버튼의 텍스트 색상 */
  background-color: darkred; /* 활성화된 버튼의 배경색 */
  border-color: darkred; /* 활성화된 버튼의 테두리 색상 */
}

/* 메인 인기글 레이아웃 위치*/
#my-grid-main {
  display: grid;
  grid-template-columns: auto 200px 1100px auto;;
  grid-template-rows: 1fr;
  grid-template-areas: "box1 box2 box3 box4";
}

.box1 {
  grid-area: box1;
}

.box2 {
  grid-area: box2;
  background-color: #ffffff;
}

.box3 {
  grid-area: box3;
}

.box4 {
  grid-area: box4;
}


#my-grid {
  display: grid;
  grid-template-columns: auto 200px 1000px auto;;
  grid-template-rows: 1fr;
  grid-template-areas: "box1 box2 box3 box4";
}

.box1 {
  grid-area: box1;
}

.box2 {
  grid-area: box2;
}

.box3 {
  grid-area: box3;
}

.box4 {
  grid-area: box4;
}