:root {
  --bs-font-sans-serif: "Rubik", sans-serif;
}

.main_body {
  width: 100%;
  height: 100%;
}

.main_body_container {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;

  background-color: #f8f5f2;
  padding-left: 15%;
  font-weight: bold;
}
.body_title {
  width: 80%;
  height: 10%;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 5%;
  text-align: center;
}

.body_issue {
  width: 80%;
  height: 24%;
  background-color: #fcfaf9;
}
.issue_title {
  width: 100%;
  height: 15%;
  background-color: #ffc0c0;
  border-radius: 10px;
  padding: 5px;
  font-size: 1.2rem;
}
.issue_body {
  width: 100%;
  height: 60%;
  border-radius: 10px;
  padding: 5px;
}
.issue_content {
  border: 1px solid #ffc0c0;
  margin-top: 9px;
  border-radius: 5px;
}
.body_news {
  width: 80%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  margin-top: 7%;
}

.IT_news {
  width: 40%;
  height: 115%;
  background-color: #f4f8fb;
}
.IT_news_title {
  width: 100%;
  height: 15%;
  background-color: #d0e7fc;
  border-radius: 10px;
  padding: 5px;
  font-size: 1.2rem;
}
.IT_news_body {
  padding-top: -60px;
  width: 100%;
  height: 60%;
  border-radius: 10px;
  padding: 5px;
}
.IT_content {
  border: 1px solid #d0e7fc;
  margin-top: 9px;
  border-radius: 5px;
}
.job_news {
  width: 40%;
  height: 115%;
  background-color: #f6f8fb;
}
.job_news_title {
  width: 100%;
  height: 15%;
  background-color: #88a9ff;
  border-radius: 10px;
  padding: 5px;
  font-size: 1.2rem;
}
.job_news_body {
  padding-top: -60px;
  width: 100%;
  height: 60%;
  border-radius: 10px;
  padding: 5px;
}

/* 글 검색 기능 드롭다운 */
/* body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100vh;
  background-color: #f1f1f1;
}
input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
select {
  margin-bottom: 10px;
  margin-top: 10px;
} */

.job_content {
  border: 1px solid #88a9ff;
  margin-top: 9px;
  border-radius: 5px;
}
