:root {
  --bs-font-sans-serif: 'Rubik', sans-serif;
}

.main_body {
  width: 100%;
  height: 100vh;
}

.main_body_container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #F8F5F2;
  padding-left: 15%;
  font-weight: bold;
}

.body_title {
  width: 80%;
  height: 10%;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 5%;
  text-align: center;
}

.body_issue {
  width: 80%;
  height: 24%;
  background-color: #FCFAF9;
}

.issue_title {
  width: 100%;
  height: 15%;
  background-color:#FFC0C0;
  border-radius: 10px;
  padding: 5px;
  font-size: 1.2rem;
}

.issue_body {
  width: 100%;
  height: 60%;
  border-radius: 10px;
  padding: 5px;
}

.issue_content {
  border: 1px solid #FFC0C0;
  margin-top: 9px;
  border-radius: 5px;
}

.body_news {
  width: 80%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  margin-top: 7%;
}

.IT_news {
  width: 40%;
  height: 115%;
  background-color: #F4F8FB;
}

.IT_news_title {
  width: 100%;
  height: 15%;
  background-color:#D0E7FC;
  border-radius: 10px;
  padding: 5px;
  font-size: 1.2rem;
}

.IT_news_body {
  padding-top: -60px;
  width: 100%;
  height: 60%;
  border-radius: 10px;
  padding: 5px;
}

.IT_content {
  border: 1px solid #D0E7FC;
  margin-top: 9px;
  border-radius: 5px;
}

.job_news {
  width: 40%;
  height: 115%;
  background-color: #F6F8FB;
}

.job_news_title {
  width: 100%;
  height: 15%;
  background-color:#88A9FF;
  border-radius: 10px;
  padding: 5px;
  font-size: 1.2rem;
}

.job_news_body {
  padding-top: -60px;
  width: 100%;
  height: 60%;
  border-radius: 10px;
  padding: 5px;
}

.job_content {
  border: 1px solid #88A9FF;
  margin-top: 9px;
  border-radius: 5px;
}