/* 검색창 */
.search-wrap {
  position: relative;
  width: 300px;
  margin: auto;
}

.searcher_body {
  width: 100%;
  height: 500vh;
}

/* 검색창 */
.search {
  position: relative;
  width: 300px;
}

input {
  width: 100%;
  border: 1px solid #db4035;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 14px;
}

/* 검색창 돋보기 */
.serch img {
  position: absolute;
  width: 17px;
  top: 10px;
  right: 12px;
  margin: 0;
}
