<h3> event 페이지</h3>

<h3>  </h3>
<div class="events_container">
        <div>
            <% for(let i=0; i < events.length; i++) {%>
                <p class="events">
                <h5>글번호 : <%= events[i] %></h5>
                <p>제목 : <%= events[i].title %> // 내용 : <%= events[i].content %>
                </p>
                </p>
            <% } %>
        </div>
</div>